<%- include('partials/header') %>

<h1 class="mb-4">Training Programs</h1>
<p class="lead mb-5">Choose from our comprehensive range of training programs designed for maritime and aviation professionals.</p>

<div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Safety Management</h5>
                <p class="card-text">Comprehensive safety protocols, risk assessment, and emergency response training.</p>
                <ul class="list-unstyled">
                    <li>Duration: 40 hours</li>
                    <li>Level: Intermediate</li>
                    <li>Certification: Yes</li>
                </ul>
                <button class="btn btn-primary">Learn More</button>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Technical Operations</h5>
                <p class="card-text">Advanced technical training for equipment operation and maintenance procedures.</p>
                <ul class="list-unstyled">
                    <li>Duration: 60 hours</li>
                    <li>Level: Advanced</li>
                    <li>Certification: Yes</li>
                </ul>
                <button class="btn btn-primary">Learn More</button>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Leadership Development</h5>
                <p class="card-text">Team leadership, communication skills, and management training for crew leaders.</p>
                <ul class="list-unstyled">
                    <li>Duration: 30 hours</li>
                    <li>Level: All Levels</li>
                    <li>Certification: Yes</li>
                </ul>
                <button class="btn btn-primary">Learn More</button>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Emergency Procedures</h5>
                <p class="card-text">Emergency response training including firefighting, medical emergencies, and evacuation.</p>
                <ul class="list-unstyled">
                    <li>Duration: 20 hours</li>
                    <li>Level: Basic</li>
                    <li>Certification: Yes</li>
                </ul>
                <button class="btn btn-primary">Learn More</button>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Regulatory Compliance</h5>
                <p class="card-text">Training on international regulations, standards, and compliance requirements.</p>
                <ul class="list-unstyled">
                    <li>Duration: 25 hours</li>
                    <li>Level: Intermediate</li>
                    <li>Certification: Yes</li>
                </ul>
                <button class="btn btn-primary">Learn More</button>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Custom Training</h5>
                <p class="card-text">Tailored training programs designed to meet your specific organizational needs.</p>
                <ul class="list-unstyled">
                    <li>Duration: Variable</li>
                    <li>Level: Custom</li>
                    <li>Certification: Available</li>
                </ul>
                <button class="btn btn-primary">Contact Us</button>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %> 